.widget.calculator2 {
    .icon-widget();

    .content-container {
        font-family: @primary-font;

        p.title, p.copy {
            color: @white !important;   
        }
        p.copy {
            line-height: 15/@rem;
        }
    }
}