.widget.single-dollar {
	@width: 220px;
	width: @width;
	max-width: @width;
	text-align: center;
	.display-flex;
	.flex-justify-content-center;
	.flex-direction-column;
	.flex-align-items-center;

	.icon-container {
		width: 120px;
		height: 90px;
		margin-bottom: @gutter-lg/2;
		position: relative;
		.display-flex;
		.flex-align-items-flex-start;
		.flex-justify-content-center;

		> div {
			position: relative;
			width: 119px;
			height: 70px;
			font-size: 70px;
			.display-flex;
			.flex-justify-content-center;

			i.icon-dollar {
				&:before {
					color: var(--color-primary);
					opacity: 1;
					.ease-out(opacity, 0.3s);
				}
			}
			i.icon-benefit_zero-down-alt {
				width: 120px;
				height: 70px;
				font-size: 75px;
				position: absolute;
				bottom: 0;
				right: 0;
				opacity: 0;
				.display-flex;
				.flex-justify-content-center;
				.ease-out(opacity, 0.3s);

			}

			&:hover {
				i.icon-dollar {
					&:before {
						opacity: 0;
					}	
				}
				i.icon-benefit_zero-down-alt {
					opacity: 1;
				}
			}
		}
	}

	p {
		font-size: 18/@rem;
		line-height: 22/@rem;
		
	}
}
