.widget.sunglasses-smiley {
    .icon-widget();

    .icon-container {
        img {
            max-width: 85px;
            width: 100%;
        }
    }
    .content-container {
        font-family: @primary-font;

        p.title, p.copy {
            color: @white !important;   
        }
        p.copy {
            line-height: 15/@rem;
        }
    }
}