.widget.tooth-shine {
	@width: 220px;
	width: @width;
	max-width: @width;
	text-align: center;
	.display-flex;
	.flex-direction-column;
	.flex-align-items-center;

	.icon-container {
		width: 120px;
		height: 90px;
		// margin-bottom: @gutter-lg/2;
		position: relative;
		.display-flex;
		.flex-align-items-flex-start;
		.flex-justify-content-center;

		> div {
			position: relative;
			width: 100px;
			height: 80px;
			.display-flex;
			.flex-align-items-center;
			.flex-justify-content-center;

			i {
                &.icon-orthodontic-emergency_significant-pain {
                    .display-flex;
                    > .path1,
                    > .path2,
                    > .path3,
                    > .path4,
                    > .path5,
                    > .path6,
                    > .path7,
                    > .path8,
                    > .path9 {
                        &:before {
                            color: var(--color-primary);
                            width: 70px;
                            height: 70px;
                            font-size: 70px;
                            -webkit-transition:  0.5s ease-out;
                            -moz-transition:  0.5s ease-out;
                            -ms-transition:  0.5s ease-out;
                            -o-transition:  0.5s ease-out;
                            transition:  0.5s ease-out;
                        }
                    }
                }
			}

			&:hover {
                i {
                    &.icon-orthodontic-emergency_significant-pain {
                        > .path2,
                        > .path3,
                        > .path4,
                        > .path5,
                        > .path6,
                        > .path7,
                        > .path8,
                        > .path9 {
                            &:before {
                                color: var(--color-secondary);
                            }
                        }
                    }
                }
			}
		}
	}

	p {
		font-size: 18/@rem;
		line-height: 22/@rem;
		
	}
}
