section.tri-carousel {
	.container {
		margin: 0;
		.display-flex;
		.flex-direction-column;
		.owl-stage {
			.display-flex;
		}

		.img-container {
			img{.border-radius(5px);}
		}

		.pagination-container {
			.pagination {
				width: 100%;
				margin: @gutter-md auto 0;
				.display-flex;
				.flex-justify-content-center;

				.page-left,
				.page-right {
					width: 83px;
					margin: 0 5px;
					cursor: pointer;
					.display-flex;
					.flex-align-items-center;

					&:hover {
						color: var(--color-primary);

						i:before {
							color: var(--color-primary);
						}
					}
				}

				.page-left {
					span {
						margin-right: @gutter-lg/2;
						
						.display-inline-flex;
					}
				}

				.page-right {
					span {
						margin-left: @gutter-lg/2;
						
						.display-inline-flex;
					}
				}
			}
		}

		body.page-template-bio & {
			.img-container {
				img {
					max-height: 393px;
					width: auto;

					@media screen and (max-width:928px) {
						width:100%;
						max-height:none;
					}
				}
			}
		}
	}

	&.providers {
        margin-top: @gutter-lg;

        .container {
        	.providers {
        		.display-flex;

        		.owl-stage {
        			.display-flex;

        			.owl-item {
        				&.center {
							.img-container {
								.overlay {
									text-align: left;
								}
							}
						}

						.img-container {
							position: relative;
							width: 586px;
							height: 650px;
							overflow: hidden;
				            @media screen and (max-width: 927px) {
				                width: unset;
				                height: 80vw;
				            }

							img {
								&.dr-kristo {
									object-position: center -130px;
				                    @media screen and (max-width: 927px) { object-position: center -50px; }
								}

								&.dr-bronski {
									object-position: center -120px;
				                    @media screen and (max-width: 927px) { object-position: center -50px; }
								}

								&.dr-holloway {
									object-position: center -50px;
				                    @media screen and (max-width: 927px) { object-position: center -20px; }
								}

								&.dr-tsunoda {
									object-position: center -100px;
				                    @media screen and (max-width: 927px) { object-position: center -40px; }
								}

								&.dr-siu {
									object-position: center -70px;
				                    @media screen and (max-width: 927px) { object-position: center -30px; }
								}

								&.dr-duevel {
									object-position: right -140px;
									@media screen and (max-width: 927px) { object-position: right -70px; }
								}

								&.dr-lin {
									object-position: right -120px;
									@media screen and (max-width: 927px) { object-position: right -60px; }
								}

								&.dr-anderson {
									object-position: center -70px;
									@media screen and (max-width: 927px) { object-position: right -30px; }
								}
								
								&.dr-ross {
									object-position: center -120px;
									@media (max-width:927px) { object-position: center -140px; }
									@media (max-width:700px) { object-position: center -90px; }
									@media screen and (max-width: 550px) { object-position: center -70px; }
								}

								&.dr-kapus {
									object-position: center -85px;
									@media (max-width:600px) { object-position: center -50px; }
								}
							}

							.overlay {
								padding: 2*@gutter-lg 2*@gutter-lg 2*@gutter-md 2*@gutter-lg;
								background-color: var(--color-primary);
								position: absolute;
								top:100%;
								right: 0;
								max-width: 100%;
								width: 100%;
								height: 100%;
								overflow: hidden;
								.display-flex;
								.flex-direction-column;
								.flex-align-items-flex-start;
								.flex-justify-content-flex-end;
								.border-radius(5px);
								transition: all 0.3s ease-out;

								.name {
									font-size: 25/@rem;
									line-height: 22/@rem;
									margin-bottom: 0;
									color: @white;
									.Bold;
									a {
										color: @white;
									}
								}

								.specialty {
									font-size: 15/@rem;
									line-height: 22/@rem;
									color: @white;
									margin-bottom: 0;
								}

								.about {
									color: @white;
									margin-bottom: 0;
								}
								a.cta.link {
									color: @white;
									border-bottom: 2px solid @white;
									transition: all 0.3s ease-out;
									&:hover {
										color: var(--color-gray-1);
									}
								}
								
							}

							&:hover {
								.overlay {
									top: 0;

									.specialty {
										padding-bottom: @gutter-md;
									}

									.about {
										padding-bottom: @gutter-md;
										max-height: initial;
									}
								}
							}
						}

						@media screen and (max-width: 927px) {
							.img-container {
								img {
									max-width: unset;
								}

								.overlay {
									max-width: 225px;
									padding: @gutter-lg/2 @gutter-lg @gutter-lg/2 @gutter-lg;
									.border-radius(0);
									.border-top-left-radius(40px);
									.border-bottom-right-radius(5px);
									.display-flex;
									.flex-direction-column;
									.flex-align-items-flex-start;
									height: auto;
									bottom: 0;
									top: auto;

									.name {
										font-size: 19/@rem;
										line-height: 22/@rem;
										margin-bottom: 0;
									}

									.about {
										display: none;
									}

									.link {
										opacity: 1;
										max-height: initial;
									}
								}
								&:hover {
									.overlay {
										height: auto;
										bottom: 0;
										top: auto;
									}
								}
							}
						}
        			}
        		}
        	}
        }
	}
    
    &.bg-green {
        background-color: var(--color-secondary);
        .container {
            margin-top: 5*@gutter-sm;
            margin-bottom: 3*@gutter-sm;
        }
    }
    
	body.page-template-refer-a-friend-program & {
		margin: 80px 0 30px !important;
	}
}
