div.widget.blog.sidebar-container {
	.inner-container {
		top: @header-height + @utility-header-height + 20px;
		max-width: 296px;
		margin-bottom: 2*@gutter-lg;
		.position-sticky();
		@media @tabletMax { top: @mobile-header-height + @utility-header-height + 20px; }

		.back-to-blog {
			margin-bottom: @gutter-lg;
		}

		.category-list {
			margin: 0;
			.display-flex;
			.flex-direction-column;
			.flex-align-items-flex-start;

			li {
				a {
					display: block;
					background-color: @gray-2;
					color: var(--color-gray-1);
					text-align: center;
					line-height: 40/@rem;
					.border-radius(2px);
					cursor: pointer;
					width: 195px;
					@media @mobileMax {
						line-height: 22/@rem;
						padding:15px 5px;
					}

					&.active {
						background-color: var(--color-primary);
						color: @white;
					}
				}

				+ li {
					a {
						margin-top: 0.5*@gutter-sm;
					}
				}
			}
		}
	}
}
