@black: #000000;
@white: #ffffff;
@red: #eb5847;
@orange: #F1B340;

:root {                 // PGO equivalent
    --color-primary: #418ce1; // #33A3C2
    --color-secondary: #9FC5F0; // #A0D7E6
    --color-tertiary: #66A2E7; // #6FBDD3
    --color-gray-1: #46464a; // #6E5F64
}

@primary-hover: var(--color-secondary);

@gray-2: #f6f6f6;
@gray-3: #e5e5e5;
@gray-4: #707070;
@gray-5: #8e959c;
@gray-6: #dddce4;
@gray-7: #e5e4ea;
@gray-8: #e6e5ea;
@gray-9: #eaeaea;

@placeholder: var(--color-gray-1);
@default-color: var(--color-gray-1);
@anchor-color: var(--color-primary);
@body-background-color: @white;
@unhandled-color: #ff00ff;
@unhandled-grey: #aaaaaa;
