.widget.folding-icons {
	@percent: percentage(1/2);
	@width: calc(~"@{percent} - 40px");
	width: @width;
	margin: 0 @gutter-sm @gutter-sm/2;
	@media @mobileMax { width: 100%; max-width: 220px; margin: 0 auto; }
	@media screen and (max-width:400px) {max-width: none;}

	&.full-width {
		@percent: 100%;
		@width: calc(~"@{percent} - 40px");
		width: @width;
		margin: 0 @gutter-sm @gutter-sm/2;
		@media @mobileMax { width: 100%; max-width: 220px; margin: 0 auto; }
		@media screen and (max-width:400px) {max-width: none;}
	}

	.icon-container {
		height: 120px;
		max-height: 120px;
		overflow: hidden;
		.display-flex;
		.flex-justify-content-center;
		.flex-align-items-center;
		.ease-out(all, 0.3s);

		i {
			&:before {
				color: var(--color-primary);
			}

			&.icon-benefit_orthodontic-treatment {
				&:before {
					font-size: 74/@rem;
				}
			}

			&.icon-benefit_digital-x-rays {
				&:before {
					font-size: 70/@rem;
				}
			}

			&.icon-virtual-consultations_contact-form {
				&:before {
					font-size: 70/@rem;
				}
			}

			&.icon-virtual-consultations_upload {
				&:before {
					font-size: 70/@rem;
				}
			}

			&.icon-virtual-consultations_personalized-report-pie-charts {
				&:before {
					font-size: 70/@rem;
				}
			}

			&.icon-benefit_3d-scan {
				&:before {
					font-size: 60/@rem;
				}
			}

			&.icon-benefit_success-planning {
				&:before {
					font-size: 60/@rem;
				}
			}

			&.icon-benefit_personalized-treatment-plan {
				&:before {
					font-size: 70/@rem;
				}
			}

			&.icon-calculator {
				&:before {
					font-size: 70/@rem;
				}
			}

			&.icon-general_forms {
				&:before {
					font-size: 70/@rem;
				}
			}

			&.icon-general_time {
				&:before {
					font-size: 70/@rem;
				}
			}

			&.icon-appointment-time {
				&:before {
					content: "\e9b3";
					font-size: 70/@rem;
				}
			}

			&.icon-safety_limit-people {
				&:before {
					font-size: 76/@rem;
				}
			}

			&.icon-safety_mask {
				&:before {
					font-size: 80/@rem;
				}
			}


			&.icon-safety_temperature {
				&:before {
					font-size: 70/@rem;
				}
			}

			&.icon-safety_hand-sanitizer {
				&:before {
					font-size: 85/@rem;
				}
			}

			&.icon-safety_social-distancing {
				&:before {
					font-size: 85/@rem;
				}
			}

			&.icon-safety_dont-touch {
				&:before {
					font-size: 70/@rem;
				}
			}

			&.icon-safety_seating {
				&:before {
					font-size: 79/@rem;
				}
			}

			&.icon-safety_refreshments {
				&:before {
					font-size: 70/@rem;
				}
			}

			&.icon-safety_temperature {
				&:before {
					font-size: 70/@rem;
				}
			}

			&.icon-safety_sanitization {
				&:before {
					font-size: 90/@rem;
				}
			}

			&.icon-safety_hand-washing {
				&:before {
					font-size: 66/@rem;
				}
			}

			&.icon-safety_personal-protective-equipment {
				&:before {
					font-size: 80/@rem;
				}
			}

			&.icon-care-and-maintenance_brush-and-paste {
				&:before {
					font-size: 80/@rem;
				}
			}

			&.icon-care-and-maintenance_floss {
				&:before {
					font-size: 70/@rem;
				}
			}

			&.icon-care-and-maintenance_rinse {
				&:before {
					font-size: 75/@rem;
				}
			}

			&.icon-care-and-maintenance_xylitol-mints {
				&:before {
					font-size: 70/@rem;
				}
			}

			&.icon-foods-to-avoid_high-sugar-or-acidic {
				&:before {
					font-size: 80/@rem;
				}
			}

			&.icon-foods-to-avoid_cut-food {
				&:before {
					font-size: 70/@rem;
				}
			}

			&.icon-foods-to-avoid_soft-food {
				&:before {
					font-size: 70/@rem;
				}
			}

			&.icon-foods-to-avoid_soft-food {
				&:before {
					font-size: 70/@rem;
				}
			}

			&.icon-care-and-maintenance_disinfect-foam {
				&:before {
					font-size: 70/@rem;
				}
			}

			&.icon-care-and-maintenance_pets {
				&:before {
					font-size: 72/@rem;
				}
			}

			&.icon-care-and-maintenance_aligners {
				&:before {
					font-size: 72/@rem;
				}
			}

			&.icon-care-and-maintenance_aligners {
				&:before {
					font-size: 80/@rem;
				}
			}

			&.icon-care-and-maintenance_retainer {
				&:before {
					font-size: 65/@rem;
				}
			}

			&.icon-care_and_maintenance_dental_mold {
				&:before {
					font-size: 65/@rem;
				}
			}

			&.icon-care-and-maintenance_replace {
				&:before {
					font-size: 60/@rem;
				}
			}

			&.icon-commitment_integrity {
				&:before {
					font-size: 60/@rem;
				}
			}

			&.icon-football-helmet {
				&:before {
					font-size: 70/@rem;
				}
			}
		}
	}

	.content-container {
		text-align: center;
		overflow: hidden;
		font-family: @primary-font;
		
		.ease-out(all, 0.3s);

		@media screen and (max-width:1075px) {
			q {
				word-break:break-word;
			}
		}

		p {
			margin-bottom: 0;

			&.title {
				font-size: 20/@rem;
				line-height: 22/@rem;
				color: var(--color-primary);
				margin-bottom: @gutter-sm/2;
				.Bold;
			}

			&.copy {
				opacity: 0;
				line-height: 22/@rem;
				.ease-out(opacity, 0.3s);
				@media @mobileMax { opacity: 1; }
			}
		}
	}

	&:hover {
		.icon-container {
			height: 0;
			max-height: 0;
			@media @mobileMax { height: 120px; max-height: 120px; }
		}

		.content-container {
			padding-bottom: 4*@gutter-lg;
			@media @mobileMax { padding-bottom: 0; }

			p {
				&.copy {
					opacity: 1;
				}
			}
		}
	}
}

.central-lakes-orthodontics {
		
	.icon-wrapper{		
		flex-wrap: wrap;
		.display-flex;
		.flex-justify-content-center;
		.folding-icons {
			margin: 0 0px 0px;
		}		
	}	
}