@font-face {
    font-family: 'Kumbh Sans';
    src: url('../../fonts/kumbh-sans/KumbhSans-Regular.woff2') format('woff2'),
        url('../../fonts/kumbh-sans/KumbhSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kumbh Sans';
    src: url('../../fonts/kumbh-sans/KumbhSans-Bold.woff2') format('woff2'),
        url('../../fonts/kumbh-sans/KumbhSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kumbh Sans';
    src: url('../../fonts/kumbh-sans/KumbhSans-Light.woff2') format('woff2'),
        url('../../fonts/kumbh-sans/KumbhSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

