@font-face {
    font-family: 'Libre Caslon Text';
    src: url('../../fonts/libre-caslon/LibreCaslonText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Caslon Text';
    src: url('../../fonts/libre-caslon/LibreCaslonText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Caslon Text';
    src: url('../../fonts/libre-caslon/LibreCaslonText-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

