section.hero.generic-with-overview {
	background-color:@grey-2;
	padding:3*@gutter-md 0 3*@gutter-md;
	
	&.outdent-bottom {
		padding-bottom:3*@gutter-md + 110px; // 110px (team overview)
	}
	
	.copy-container {
		
		.size-medium;
	}
}
