section.hero.with-image {
	.content {
		height:590px;
		padding-top:4*@gutter-lg;
		.display-flex;
		.flex-align-items-flex-start;
		.flex-justify-content-flex-start;

		body.page-template-safer-orthodontic-care & {
			height: 680px;
		}
	}

	.inner-content {

	}

	.cta-text {
		margin-top:3*@gutter-md;
	}

	h1 {
		margin-bottom:@gutter-lg;
	}
}
