.widget.humans-sitting {
	width: 100%;
	text-align: center;
	.display-flex;
	.flex-direction-column;
	.flex-align-items-center;

	.icon-container {
		position: relative;
		.display-flex;
		.flex-align-items-flex-start;
		.flex-justify-content-center;

		> div {
			position: relative;
			.display-flex;
			.flex-align-items-center;
			.flex-justify-content-center;

			i {
                &.icon-humans-sitting {
                    .display-flex;
                    font-size: 250px;
                }
			}
		}
	}
}
