section.location-search {
	text-align:center;
	margin-top:3*@gutter-md;
	margin-bottom:4*@gutter-lg;
	
	.copy-container {
		
		.size-medium;
	}
	
	.image-container {
		margin-top:2*@gutter-md;
	}
	
	form {
		width:100%;
		max-width:380px;
		margin:@gutter-lg auto 2*@gutter-md;
	}
}
