section.copy.with-image {
	.main-container {
		margin: 0;
		.display-flex;
		@media screen and (max-width: 885px) { .flex-direction-column-reverse; }

		article {
			@articleWidth: percentage(((1170 - 510) + 120)/1170);
			width: @articleWidth;
			font-size: 25/@rem;
			line-height: 35/@rem;
			padding-right: 2*@gutter-lg;
			padding-bottom: @gutter-lg;
			.display-flex;
			.flex-align-items-center;
			@media @tabletMax { padding-right: @gutter-lg; }
			@media screen and (max-width: 885px) { width: 100%; padding-right: 0; font-size: 20/@rem; line-height: 30/@rem; }
			.slide{
				margin-left: -100vw;
				width:100%;
				.ease-out(all, 0.3s);
				&.active {
					margin-left: 0;
				}
			}
		}

		aside {
			@asideWidth: percentage(510/1170);
			width: @asideWidth;
			margin-right: -120px;
			overflow: hidden;
			@media @tabletMax { margin-right: -2*@gutter-lg; }
			@media screen and (max-width: 885px) { width: calc(~"100% + 60px"); margin-bottom: 2*@gutter-lg; }

			.img-container {
				position: relative;
				height: 400px;
				.display-flex;
				.flex-justify-content-flex-end;

				@media @mobileMax{height: 300px;}

				img {
					width: 100%;
					left: 101%;
					.ease-out(all, 0.3s);

					&.active {
						left: 0;
					}

					&.top-left-radius {
						.border-top-left-radius(180px);
						@media screen and (max-width: 885px) { .border-top-left-radius(90px); }
					}

					&.bottom-left-radius {
						.border-bottom-left-radius(180px);
						@media screen and (max-width: 885px) { .border-bottom-left-radius(90px); }
					}

					&.top-right-radius {
						.border-top-right-radius(180px);
						@media screen and (max-width: 885px) { .border-top-right-radius(90px); }
					}

					&.bottom-right-radius {
						.border-bottom-right-radius(180px);
						@media screen and (max-width: 885px) { .border-bottom-right-radius(90px); }
					}
				}
			}
		}
	}

	&:not(.reverse) {
		.main-container {
			@media screen and (max-width: 885px) { margin-bottom: 2*@gutter-lg; }
		}
	}

	&.reverse {
		.main-container {
			@media screen and (max-width: 885px) { .flex-direction-column; }

			article {
				padding-right: 0;
				padding-left: 2*@gutter-lg;
				padding-top: @gutter-lg;
				padding-bottom: 0;
				@media @tabletMax { padding-left: @gutter-lg; }
				@media screen and (max-width: 885px) { padding-left: 0; }
				.slide{
					margin-left: 100vw;
					width:100%;
					min-width:100%;
					.ease-out(all, 0.3s);
					&.active {
						margin-left: 0;
					}
				}
				body.page-template-why-orthodontic-treatment & {
					padding-top: 0;
				}
			}

			aside {
				margin-right: 0;
				margin-left: -120px;
				@media @tabletMax { margin-left: -2*@gutter-lg; }
				@media screen and (max-width: 885px) {}

				.img-container {
					.flex-justify-content-flex-start;

					img {
						left: -101%;

						&.active {
							left: 0;
						}
					}
				}
			}
		}
	}
}

// .central-lakes-orthodontics {
// 	section.copy.with-image {
// 		&.second{
// 			&.reverse{
// 				display: none;
// 			}
// 		} 		
// 	}
// }
